.center{
  text-align:center;
}



body #header {
    background-color: #89bf04;
}

body #header a#logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background: transparent url(console/images/logo_small.png) no-repeat left center;
    padding: 20px 0 20px 40px;
    color: white;
}
