<iframe width='100%' height='1000px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/picardo.map-366d1703.html#12/40.74539999999999/-73.99320000000002' style="position:absolute"></iframe>

<div class="container" style="position:absolute; left: 100px; top:200px">
  <div class="hero-unit" style="background: rgba(250, 255, 251, 0.45)">
    <h1>
      Open311 GeoReport
    </h1>
    <p>
      A nodejs adapter to access NYC 311 SRs from Socrata, using the Open311 GeoReport v2 API.
    </p>

    <div class='clearfix'>
      <div class='pull-left'>
        <a href="javascript:;" title="Play" class="btn btn-primary" target="_blank">
          <span class='icon-play icon-inverse' style='color:white'></span>
          Play
        </a>
        <a href="/console" title="API Console" class="btn btn-info" target="_blank">API Console</a>
      </div>
      <div class='pull-right'>
        <a href="https://github.com/tenaciousflea/open311georeport" class="btn  btn-link" target="_blank">
          Fork on
          Github
        </a>
      </div>
    </div>
  </div>
</div>
