<h1>
  Open311 GeoReport
</h1>
<p>
  A nodejs adapter to access NYC 311 SRs from Socrata, using the Open311 GeoReport v2 API.
</p>
<p>
  <a href="https://github.com/tenaciousflea/open311georeport">Fork me on Github</a>
</p>