<div class="hero-unit">
  <h1 class="center">
    Open311 GeoReport
  </h1>
  <p>
    A nodejs adapter to access NYC 311 SRs from Socrata, using the Open311 GeoReport v2 API.
  </p>
  <p class="center">
    <a href="/console" title="API Console" class="btn btn-primary">API Console</a>
    <a href="https://github.com/tenaciousflea/open311georeport" class="btn  btn-link">
      Fork on
      Github
    </a>
  </p>
</div>