<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Open311 <> Socrata</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body data-view="<%= view %>">

    <%- body %>


  </body>
</html>
