<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>open311</title>
  </head>
  <body data-view="<%= view %>">
    <%- body %>
    <script>

    </script>
  </body>
</html>
