<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>open311</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body data-view="<%= view %>">
      <header class="">
        <div class="navbar navbar-inverse">
          <div class='navbar-inner'>

          </div>
        </div>
      </header>
      <div class="container">
        <%- body %>
      </div>
    <script>

    </script>
  </body>
</html>
